#flockTitle {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  color: rgb(53, 53, 53);
  margin: auto;
  /* position: relative;
  left: 200px; */
  margin-bottom: 15px; 
  margin-top: 40px;


  position: relative;
  /* top: 100px; */
  margin: none;
  padding: none;
  border: 0;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  color: rgb(53, 53, 53);
  /* position: relative; */
  /* left: 10%; */
  /* right: 0px; */
  /* align-items: flex-start; */
  width: 500px;
  max-width: 80%;
  margin-bottom: 15px; 
  /* margin-top: 40px; */}

.imgContainer img {
  width: 100% !important;
  height: auto !important;
}

.imgsContainer {
  padding-right:10%;
  padding-left:10%;
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0.4%;
}

.imgContainer {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
  margin-bottom: 1.8%;
}
.imgContainer img {
	max-width: 100%;
}
.imgContainer .img {
	display: block;
}

.imgContainer .textDiv {
	opacity: 0;
	position: absolute;
	top:  0px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.685);
	color: rgb(187, 187, 187);
	padding: 10px;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-ms-transition: all 0.4s;
	transition: all 0.4s;
}

.imgContainer:hover .textDiv,
.imgContainer.active .textDiv {
	opacity: 1;
}
.imgTitle {
  position: absolute;
  bottom: 65px;
  margin:auto;
  margin-top: 10px;
	text-align:left;
	font-size: 20px;
  font-weight:500;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.imgLocation {
  position: absolute;
  bottom: 45px;
  margin:auto;
  margin-top: 28px;
	text-align:left;
	font-size: 15px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.userName {
  position: absolute;
  bottom: 30px;
  margin:auto;
  margin-top: 28px;
	text-align:left;
	font-size: 12px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#edit{
  background:transparent;
  color:rgba(150, 150, 150, 0.74);
  position: absolute;
  font-size: 2rem;
  top: 5%;
  right: 8%;
  padding: 5px;
  text-decoration:none;
}


  #delete {
	background:transparent;
  color:rgba(150, 150, 150, 0.74);
  position: absolute;
  font-size: 40px;
  top: -20px;
  right: 0px;
  padding: 20px;
  text-decoration:none;
  cursor: pointer;
  transition: font-size 1s;
}

#delete:hover {
  font-size: 50px;
}

#expand {
	background:transparent;
  color:rgba(94, 94, 94, 0.74);
  position: absolute;
  font-size: 50px;
  align-items: center;
  top: 25%;
  left: 40%;
  text-decoration:none;
  transition: color 1s linear;

}

#expand:hover {
  color: rgba(197, 197, 197, 0.74);
}

@media (max-width:1600px) {
  .imgsContainer {
    padding-right:10%;
    padding-left:10%;
    line-height: 0;
    -webkit-column-count: 4;
    -webkit-column-gap: 0px;
    -moz-column-count: 4;
    -moz-column-gap: 0px;
    column-count: 4;
    column-gap: 0.4%;
  }
  }

@media (max-width:1200px) {
  .imgsContainer {
    padding-right:10%;
    padding-left:10%;
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 0.4%;
  }
  }

@media (max-width:935px) {
  * {
    margin: 0;
    padding: 0;
  }

  .imgsContainer {
    /* padding-right:10%; */
    padding-left: 8%;
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 0.4%;
  }

  }
    

@media (max-width:700px) {
  #imgContainer {
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
  }

  .imgsContainer {
    position: relative;
    left: 10%;
    padding-right:0%;
    padding-left:0%;
    line-height: 0;
    -webkit-column-count: 1;
    -webkit-column-gap: 0px;
    -moz-column-count: 1;
    -moz-column-gap: 0px;
    column-count: 1;
    column-gap: 0.4%;
  }

  .imgContainer img {
    width: 110% !important;
    height: auto !important;
    margin: 0;
    padding: 0;

  }

  #flockTitle {
    position: relative;
    /* top: 100px; */
    margin: none;
    padding: none;
    border: 0;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: rgb(53, 53, 53);
    /* position: relative; */
    /* left: 10%; */
    /* right: 0px; */
    /* align-items: flex-start; */
    width: 350px;
    max-width: 100%;
    font-size: 25px;
    /* max-width: 100%; */
    margin-bottom: 15px; 
    /* margin-top: 40px; */
  }

  #root {
    margin: 0;
    padding: 0;
  }

  #edit {
    margin: 0;
    padding: 0;
  }

  .textDiv {
    display: none;
    margin: 0;
  }

  .imgContainer:hover .textDiv,
  .imgContainer.active .textDiv {
    display: none;
  }
  #flockpage-img-div {
    width: 80%;
  }


  .imgSingleBird {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #deleBirdX {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 90px;
    left: 90%;
  }
  
  #editBirdX {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 40px;
    left: 80%;
  }

  }
    

