#flockTitle {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  color: rgb(53, 53, 53);
  position: relative;
  left: 200px;
  margin-bottom: 15px; 
  margin-top: 40px;
}

.imgContainer img {
  width: 100% !important;
  height: auto !important;
}

.imgsContainer {
  padding-right:10%;
  padding-left:10%;
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0.4%;
}

.imgContainer {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
  margin-bottom: 1.8%;
}
.imgContainer img {
	max-width: 100%;
}
.imgContainer .img {
	display: block;
}

.imgContainer .textDiv {
	opacity: 0;
	position: absolute;
	top:  0px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.685);
	color: rgb(187, 187, 187);
	padding: 10px;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-ms-transition: all 0.4s;
	transition: all 0.4s;
}

.imgContainer:hover .textDiv,
.imgContainer.active .textDiv {
	opacity: 1;
}
.imgTitle {
  position: absolute;
  bottom: 65px;
  margin:auto;
  margin-top: 10px;
	text-align:left;
	font-size: 130%;
  font-weight:500;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.imgLocation {
  position: absolute;
  bottom: 45px;
  margin:auto;
  margin-top: 28px;
	text-align:left;
	font-size: 15px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.userName {
  position: absolute;
  bottom: 30px;
  margin:auto;
  margin-top: 28px;
	text-align:left;
	font-size: 12px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#edit{
  background:transparent;
  color:rgba(150, 150, 150, 0.74);
  position: absolute;
  font-size: 2rem;
  top: 5%;
  right: 8%;
  padding: 5px;
  text-decoration:none;
}


  #delete {
	background:transparent;
  color:rgba(150, 150, 150, 0.74);
  position: absolute;
  font-size: 40px;
  top: -20px;
  right: 0px;
  padding: 20px;
  text-decoration:none;
  cursor: pointer;
  transition: font-size 1s;
}

#delete:hover {
  font-size: 50px;
}

#expand {
	background:transparent;
  color:rgba(94, 94, 94, 0.74);
  position: absolute;
  font-size: 50px;
  align-items: center;
  top: 25%;
  left: 40%;
  text-decoration:none;
  transition: color 1s linear;

}

#expand:hover {
  color: rgba(197, 197, 197, 0.74);
}